$color-background: #2c2c2c;
$color-background-secondary: #1a1a1a;
$color-background-ternary: #45d8b1;

$border-radius: 5px;

$color-text: #fffffe;
$color-text-secondary: #000000;

$transition-duration: 0.1s;

$resolution-L: 2048px;
$resolution-M: 1024px;
$resolution-S: 512px;
